div[class^="sheet-wildcard1"] {
	display: none;
}
 
input.sheet-wildcard1 {
	cursor: pointer;
	position: relative;
	width: 50px;
	height: 50px;
	opacity: 0;
	z-index: 9999;
}

span.sheet-wildcard1 {
    display: inline-block;
	font-size: 13px;
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_LeftMainNull.png");
	color: white;
	font-weight: bold;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

input.sheet-wildcard1:checked + span.sheet-wildcard1 {
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_LeftMainFill.png");
	color: white;
}

div[class^="sheet-radio1"] {
	display: none;
}
 
input.sheet-radio1 {
	cursor: pointer;
	position: relative;
	width: 50px;
	height: 50px;
	opacity: 0;
	z-index: 9999;
}

span.sheet-radio1 {
    display: inline-block;
	font-size: 13px;
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_LeftMainNull.png");
	color: white;
	font-weight: bold;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

input.sheet-radio1:checked + span.sheet-radio1 {
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_LeftMainFill.png");
	color: white;
}

div[class^="sheet-radio2"] {
	display: none;
}
 
input.sheet-radio2 {
	cursor: pointer;
	position: relative;
	width: 50px;
	height: 50px;
	opacity: 0;
	z-index: 9999;
}

span.sheet-radio2 {
    display: inline-block;
	font-size: 13px;
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_RightMainNull.png");
	color: white;
	font-weight: bold;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

input.sheet-radio2:checked + span.sheet-radio2 {
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_RightMainFill.png");
	color: white;
}

div[class^="sheet-radio3"] {
	display: none;
}
 
input.sheet-radio3 {
	cursor: pointer;
	position: relative;
	width: 50px;
	height: 50px;
	opacity: 0;
	z-index: 9999;
}

span.sheet-radio3 {
    display: inline-block;
	font-size: 13px;
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_LeftMainNull.png");
	color: white;
	font-weight: bold;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

input.sheet-radio3:checked + span.sheet-radio3 {
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_LeftMainFill.png");
	color: white;
}

div[class^="sheet-radio4"] {
	display: none;
}
 
input.sheet-radio4 {
	cursor: pointer;
	position: relative;
	width: 50px;
	height: 50px;
	opacity: 0;
	z-index: 9999;
}

span.sheet-radio4 {
    display: inline-block;
	font-size: 13px;
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_RightMainNull.png");
	color: white;
	font-weight: bold;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

input.sheet-radio4:checked + span.sheet-radio4 {
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_RightMainFill.png");
	color: white;
}

div[class^="sheet-radio5"] {
	display: none;
}
 
input.sheet-radio5 {
	cursor: pointer;
	position: relative;
	width: 50px;
	height: 50px;
	opacity: 0;
	z-index: 9999;
}

span.sheet-radio5 {
    display: inline-block;
	font-size: 13px;
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_LeftMainNull.png");
	color: white;
	font-weight: bold;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

input.sheet-radio5:checked + span.sheet-radio5 {
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_LeftMainFill.png");
	color: white;
}

div[class^="sheet-radio6"] {
	display: none;
}
 
input.sheet-radio6 {
	cursor: pointer;
	position: relative;
	width: 50px;
	height: 50px;
	opacity: 0;
	z-index: 9999;
}

span.sheet-radio6 {
    display: inline-block;
	font-size: 13px;
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_RightMainNull.png");
	color: white;
	font-weight: bold;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

input.sheet-radio6:checked + span.sheet-radio6 {
	background-image: url("https://raw.githubusercontent.com/lockheart97/MME-TTRPG/refs/heads/main/HalfCircle_RightMainFill.png");
	color: white;
}
